<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.main.service.Impl.MainMapper">

    <select id="selectData" resultType="hashMap">
        SELECT AUCNG_NO, AUCNG_DE
        FROM TEMP_TABLE
    </select>
    
    
    <select id="selectMenuList" resultType="hashMap">
        SELECT A.menu_id
			 , A.mnnm_cntn AS menu_nm
			 , A.menu_lvl_c
			 , A.sort_sq
			 , A.pgid
			 , A.uyn
			 , CASE WHEN A.menu_lvl_c = '1' THEN A.menu_id
				    ELSE SUBSTRING(A.menu_id, 1, 2) + '0000'
			        END AS fst_menu_id
			 , CASE WHEN A.menu_lvl_c = '1' THEN A.mnnm_cntn
			  	    ELSE (SELECT mnnm_cntn FROM TB_LA_IS_MM_MENU WHERE menu_id = SUBSTRING(A.menu_id, 1, 2) + '0000')
				    END AS fst_menu_nm
			 , CASE WHEN A.menu_lvl_c = '1' THEN ''
			 	    WHEN A.menu_lvl_c = '2' THEN A.menu_id
					WHEN A.menu_lvl_c = '3' THEN SUBSTRING(A.menu_id, 1, 4) + '00'
				    END AS scd_menu_id
			 , CASE WHEN A.menu_lvl_c = '1' THEN ''
					WHEN A.menu_lvl_c = '2' THEN A.mnnm_cntn
					WHEN A.menu_lvl_c = '3' THEN  (SELECT mnnm_cntn FROM TB_LA_IS_MM_MENU WHERE menu_id = SUBSTRING(A.menu_id, 1, 4) + '00')
				    END AS scd_menu_nm
			  , '' AS lvl
		  FROM TB_LA_IS_MM_MENU A
    </select>

</mapper>