<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.auc.main.service.Impl.MainMapper">

    <select id="selectData" resultType="hashMap">
        SELECT AUCNG_NO, AUCNG_DE
        FROM TEMP_TABLE
    </select>
        
    <select id="selectMenuList" resultType="hashMap">
        SELECT A.menu_id
			 , A.mnnm_cntn AS menu_nm
			 , A.menu_lvl_c
			 , A.sort_sq
			 , A.pgid
			 , A.uyn
			 , CASE WHEN A.menu_lvl_c = '2' THEN A.menu_id
					WHEN A.menu_lvl_c = '3' THEN SUBSTRING(A.menu_id, 1, 4) + '00'
				    END AS scd_menu_id
			 , CASE WHEN A.menu_lvl_c = '2' THEN A.mnnm_cntn
					WHEN A.menu_lvl_c = '3' THEN  (SELECT mnnm_cntn FROM TB_LA_IS_MM_MENU WHERE menu_id = SUBSTRING(A.menu_id, 1, 4) + '00')
				    END AS scd_menu_nm
		  FROM TB_LA_IS_MM_MENU A
		 WHERE A.menu_lvl_c != '1'
    </select>
    
    <insert id="signUp" parameterType="hashMap">
    	INSERT INTO TB_LA_IS_MM_USER (ID, PW) VALUES(#{user_id}, #{user_enpw})    	
    </insert>
    
    <select id="signIn" parameterType="hashMap" resultType="hashMap">
    	SELECT pw, id FROM TB_LA_IS_MM_USER
         WHERE id = #{user_id} 
    </select>
    

</mapper>